appdirs==1.4.3
application-utility==1.2.1
astroid==2.2.5
attrs==19.3.0
Beaker==1.11.0
beautifulsoup4==4.8.0
Bottleneck==1.2.1
btrfsutil==1.1.1
CacheControl==0.12.5
chardet==3.0.4
chrome-gnome-shell==0.0.0
colorama==0.4.1
cupshelpers==1.0
cycler==0.10.0
distlib==0.2.9
distro==1.4.0
gmpy2==2.1.0b1
gufw==19.10.0
html5lib==1.0.1
httplib2==0.13.1
idna==2.8
importlib-metadata==0.23
isc==2.0
isort==4.3.21
Jade-Application-Kit==2.0.9
joblib==0.14.0
kiwisolver==1.1.0
lazy-object-proxy==1.4.2
lensfun==0.3.2
lockfile==0.12.2
louis==3.11.0
lxml==4.4.1
Mako==1.0.14
Markdown==3.1.1
MarkupSafe==1.1.1
matplotlib==3.1.1
mccabe==0.6.1
mechanize==0.4.3
meson==0.52.0
more-itertools==7.2.0
mpmath==1.1.0
msgpack==0.6.2
nltk==3.4.5
notify2==0.3.1
npyscreen==4.10.5
numexpr==2.7.0
numpy==1.17.3
openshot-qt==2.4.4
packaging==19.2
pacman-mirrors==4.15
pandas==0.25.2
pandas-datareader==0.8.1
pep517==0.6.0
Pillow==6.2.0
progress==1.5
pwquality==1.4.1
pycairo==1.18.2
pycups==1.9.74
pycurl==7.43.0.3
PyGObject==3.34.0
pylint==2.3.1
pyparsing==2.4.2
PyQt4-sip==4.19.16
PyQt5==5.13.1
PyQt5-sip==4.19.19
python-dateutil==2.8.0
pytoml==0.1.21
pytz==2019.3
pyxdg==0.26
PyYAML==5.1.2
pyzmq==18.1.0
requests==2.22.0
retrying==1.3.3
scikit-learn==0.21.3
scipy==1.3.1
six==1.12.0
soupsieve==1.9.4
sympy==1.4
team==1.0
typed-ast==1.4.0
ufw==0.36
urllib3==1.25.6
virtualenv==16.1.0
webencodings==0.5.1
wrapt==1.11.2
zipp==0.6.0
